@page "/"

<h1>Gibson Green's Blazor App</h1>

This project highlights the basic feautures of the Blazor Web Applications. Over the course of the next few months, more features and functionality
will be added highlighting new skills learned.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="10" />